[submodule "ostep-code"]
	path = ostep/ostep-code
	url = https://github.com/remzi-arpacidusseau/ostep-code
[submodule "ostep-projects"]
	path = ostep/ostep-projects
	url = https://github.com/remzi-arpacidusseau/ostep-projects.git
[submodule "ostep-homework"]
	path = ostep/ostep-homework
	url = https://github.com/remzi-arpacidusseau/ostep-homework.git
[submodule "jyy-os-2023/lab/os-workbench"]
	path = jyy-os-2023/lab/os-workbench
	url = https://git.nju.edu.cn/jyy/os-workbench.git
[submodule "learn-assembly-on-Apple-Silicon-Mac"]
	path = assembly/learn-assembly-on-Apple-Silicon-Mac
	url = git@github.com:zhubeilife/learn-assembly-on-Apple-Silicon-Mac.git
[submodule "libs/abstract-machine"]
	path = libs/abstract-machine
	url = https://github.com/NJU-ProjectN/abstract-machine.git
[submodule "libs/mosaic"]
	path = libs/mosaic
	url = https://github.com/jiangyy/mosaic.git
