[submodule "ostep-code"]
	path = ostep/ostep-code
	url = https://github.com/remzi-arpacidusseau/ostep-code
[submodule "ostep-projects"]
	path = ostep/ostep-projects
	url = https://github.com/remzi-arpacidusseau/ostep-projects.git
[submodule "ostep-homework"]
	path = ostep/ostep-homework
	url = https://github.com/remzi-arpacidusseau/ostep-homework.git
[submodule "learn-assembly-on-Apple-Silicon-Mac"]
	path = assembly/learn-assembly-on-Apple-Silicon-Mac
	url = git@github.com:zhubeilife/learn-assembly-on-Apple-Silicon-Mac.git
[submodule "libs/mosaic"]
	path = libs/mosaic
	url = git@github.com:zhubeilife/mosaic.git
[submodule "libs/abstract-machine"]
	path = libs/abstract-machine
	url = git@github.com:zhubeilife/abstract-machine.git
[submodule "libs/nemu"]
	path = libs/nemu
	url = git@github.com:zhubeilife/nemu.git
[submodule "libs/fceux-am"]
	path = libs/fceux-am
	url = git@github.com:zhubeilife/fceux-am.git
[submodule "libs/am-kernels"]
	path = libs/am-kernels
	url = git@github.com:zhubeilife/am-kernels.git
[submodule "libs/nanos-lite"]
	path = libs/nanos-lite
	url = git@github.com:zhubeilife/nanos-lite.git
[submodule "libs/navy-apps"]
	path = libs/navy-apps
	url = git@github.com:zhubeilife/navy-apps.git
[submodule "libs/rt-thread-am"]
	path = libs/rt-thread-am
	url = git@github.com:zhubeilife/rt-thread-am.git
